/target/
!.mvn/wrapper/maven-wrapper.jar


/backend/birddata.json

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/


# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/frontend/node_modules

# testing
/frontend/coverage

# production
/frontend/build



/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

.vscode